<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('acc.list.title') %></h2>
    <table class="table-list">

        <tr>
            <th><%= __('acc.fields.username') %></th>
            <th><%= __('acc.fields.name') %></th>
            <th><%= __('acc.fields.surname') %></th>
            <th><%= __('acc.fields.gender') %></th>
            <th><%= __('acc.fields.email') %></th>
            <th><%= __('acc.fields.creation-date') %></th>
            <th><%= __('acc.list.options') %></th>
        </tr>


        <tbody>
        <% for (let acc of accs) { %>
            <tr>
                <td><%= acc.username %></td>
                <td><%= acc.name %></td>
                <td><%= acc.surname %></td>
                <td><%= acc.gender %></td>
                <td><%= acc.email %></td>
                <td><%= acc.creationDate.toISOString().split('T') [0] %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/accounts/details/<%= acc._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                        </li>
                        <li>
                            <a href="/accounts/edit/<%= acc._id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a>
                        </li>
                        <li>
                            <a href="/accounts/delete/<%= acc._id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% }%>

        </tbody>
    </table>

    <p>
        <a href="/accounts/add" class="button-add"><%= __('acc.list.addNew')%></a>
    </p>
</main>
<%- include('../../fragments/footer.ejs') %>