<%- include('../../fragments/header.ejs') %>
  <main>
    <h2><%= __('job.list.title')%></h2>
    <table class="table-list">

      <tr>
        <th><%= __('job.fields.company-name')%></th>
        <th><%= __('job.fields.position')%></th>
        <th><%= __('job.fields.location')%></th>
        <th><%= __('job.fields.min-sal')%></th>
        <th><%= __('job.fields.max-sal')%></th>
        <th><%= __('job.list.options')%></th>
      </tr>


      <tbody>
      <% for (let job of jobs) { %>
        <tr>
          <td><%= job.companyName %></td>
          <td> <%= job.position %> </td>
          <td> <%= job.location%></td>
          <td><%= job.minSalary ? job.minSalary : 'Minimum salary not set' %></td>
          <td><%= job.maxSalary ? job.maxSalary : 'Maximum salary not set' %></td>
          <td>
            <ul class="list-actions">
              <li>
                <a href="/job-offers/details/<%= job._id%>" class="list-actions-button-details"><%= __('list.actions.details')%></a>
              </li>
              <li>
                <a href="/job-offers/edit/<%= job._id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a>
              </li>
              <li>
                <a href="/job-offers/delete/<%= job._id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a>
              </li>
            </ul>
          </td>
        </tr>
      <% }%>

      </tbody>
    </table>

    <p>
      <a href="/job-offers/add" class="button-add"><%= __('job.list.addNew')%></a>
    </p>
</main>
<%- include('../../fragments/footer.ejs') %>